@model Proyecto.Entities.ClaseEnt


@{
    ViewBag.Title = "EjecutarDepreciacion";
}

<style>
    .card-custom {
        background-color: #d3d3d333;
    }
</style>

<div class="container-fluid px-4" style="margin-top: 25px;">
    <div class="row">
        <div class="col-xl-4">
            <div class="card mb-4">
                <div class="card-header bg-secondary text-white">
                    <i class="fas fa-info" style="margin-right: 10px"></i> Depreciación
                </div>
                <div class="card-body card-custom">
                    <p>
                        La depreciación es el registro contable que hace referencia a la perdida de la capacidad de un activo para funcionar correctamente.
                        <br /><br />
                        Al ejecutar esta función, el sistema estaría calculando la depreciación de cada uno de los activos relacionadas a
                        la clase correspondiente, utilizando el método de línea recta, siguiendo la siguiente formula:
                        <center>
                            <img src="~/templates/assets/img/information_calculoLineaRecta.png" alt="Calculo Linea Recta" style="width: 85%; margin-top: 0px" />
                        </center>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <h2 class="text-muted">Ejecutar Depreciacion</h2>
            <p class="text-muted">
                Ejecutar la depreciación siguiendo las normas de la empresa y del país, tener en
                consideración que el asiento de depreciación no se puede revertir y afectará a todos los
                activos relacionadas con la clase seleccionada. Por favor complete toda la información para ejecutar la
                depreciacion.
            </p>

            <form onsubmit="return false">
                <lable for="idClase">Clase</lable>
                <div class="form-group">
                    @Html.DropDownListFor(
                        Model => Model.idClase,
                        ViewBag.listaClases as List<SelectListItem>,
                        new { @class = "form-control", @onchange = "validarFormulario();" }
                    )
                </div>


                <div class="form-group">
                    <label for="asientoDepreciacion_descripcion">Descripción Asiento</label>
                    @Html.TextBoxFor(Model => Model.asientoDepreciacion.descripcion, new { @class = "form-control", @placeholder = "Descripción Asiento", @onchange = "validarFormulario();" })
                </div>
                <div class="alert alert-danger" role="alert" id="mensajeError" style="margin-top: 25px;">
                    Complete la información requerida
                </div>

                <div class="text-danger text-center" style="margin-top: 25px; display: none;" id="btnEjecutarDepreciación">
                    <button class="btn btn-primary" onclick="ejecutarDepreciacion();">Ejecutar Depreciacion</button>
                </div>

            </form>

        </div>

        <div class="row" id="tblResultadoDepreciación" style="display: none">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Resultado Depreciación
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th>Descripción Activo</th>
                                    <th>Valor Adquisición</th>
                                    <th>Periodos Depreciados</th>
                                    <th>Descripción Clase</th>
                                    <th>Vida Util</th>
                                    <th>Depreciación Mensual</th>
                                    <th>Depreciación Acumulada</th>
                                </tr>
                            </thead>
                            <tbody id="tblAuxiliarBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script src="~/templates/js/jquery-3.2.1.slim.min.js"></script>
<script src="~/Scripts/Custom Scripts/EjecutarDepreciacion.js"></script>


