
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid px-4" style="padding-top: 25px">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Lista de Cuentas
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Descripcion</th>
                                <th>Categoria</th>
                                <th>Debitos</th>
                                <th>Creditos</th>
                                <th>Balance</th>
                                <th>Naturaleza</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Descripcion</th>
                                <th>Categoria</th>
                                <th>Debitos</th>
                                <th>Balance</th>
                                <th>Naturaleza</th>
                            </tr>
                        </tfoot>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="~/templates/js/jquery-3.2.1.slim.min.js"></script>
<script src="~/templates/js/ChartJS.js"></script>



